<body class="landing-page">
  <div id="landing-info">
    <h1>Welcome!</h1>
      <p class="landing-subtitle center">Welcome to CanDo, a tool for teaching and learning through video.</p>
      <p >Video modeling and video prompting are evidence-based methods for building skills across domains. Seeing a realistic video example of a new skill can be particularly helpful for people on the autism spectrum and those with cognitive disabilities.</p>
      <p>CanDo provides a straightforward way to turn your video into a customized teaching tool, built with families, teachers, therapists, home visitors and direct support professionals in mind.</p>
      <p><%= link_to "Sign up for a free account now", new_user_registration_path %> Then upload your video, add custom questions or pause points, and share it with a learner! </p>
      <span class= "bold center">Can you? CanDo!</span>

      
      <p id="disclaimer">Please also note that, pending implementation of a scalable video storage solution, this version of the site should be considered a demonstration prototype only.</p>
  </div>
  <div class="footer" >
    <p>Made by Samantha Amodeo as a project at <a href="https://launchacademy.com" target="_blank" class="underline">Launch Academy</a></p>
    <div class="icon-links">
      <a href="https://www.linkedin.com/in/samodeo/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/gitreadygitset" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </div>
  <div>
</body>
  



