<div id="landing-page">

<div id="landing-info">
<h1>Welcome!</h1>
  <p class="info-p headline">Welcome to CanDo, a tool for teaching and learning through video.</p>
  <p class="info-p">Video modeling and video prompting are evidence-based methods for building skills across domains, particularly helpful for people on the autism spectrum and those with cognitive disabilities.</p>
  <p class="info-p">CanDo provides a straightforward way to turn your video into a customized teaching tool, built with families, teachers, therapists, home visitors and direct support professionals in mind. 
  <%= link_to "Sign up for a free account now", new_user_registration_path %> then upload your video, add custom questions or pause points, and share it with a learner! </p>
  <p class="info-p bold">Can you? CanDo!</p>
  </div>
</div>
  



