$sandy: hsla(28, 82%, 75%, 1);

.video-show-container {
  width: 100%;

  video {
    border: 3px solid $sandy;
    display: block;
    max-width: 60%;
    max-height: 500px;
    margin: 0 auto;
  }

  .question-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    p {
      padding: 1.5rem 5rem;
    }
  }
}
.show-buttons {
  display: flex;
  justify-content: start;
}

.errors {
  text-align: center;
}
.forms {
  display: flex;
  justify-content: center;
  .shared-users,
  .questions {
    flex-basis: 100%;
  }
}
.tile-list {
  li {
    p {
      display: inline;
    }
    button {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}
