.videos-index {
  display: flex;
  justify-content: space-around;
}

.video-grid {
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  // border: 1px solid red;
  width: 60%;
  grid-gap: 1rem;
}
.video-tile {
  border: 3px solid blue;
  width: 100%;
  text-align: center;
  .grid-image-container {
    //border: 3px solid green;
    aspect-ratio: 1;
    overflow: hidden;
    margin: auto;
    width: 80%;
    img {
      display: block;
      width: 100%;
      height: auto;
      // border: 1px solid purple;
    }
  }
}

.video-form {
  display: inline-block;
  width: 30%;
  // border: 1px solid orange;
}

h1 {
  text-align: center;
}
